.cache
.classpath
.project
target/


// Cucumber Things
cucumber-html/
cucumber-junit-report.xml
cucumber.json

// Our sample/ resources get stored here
bin/

// Default dir for where we store our application dir,
// in $CWD/typingtutor
/typingtutor/
/typingtutor.db

